/* ==UserStyle==
@name         Dark-WhatsApp - Patch
@description  3rd party patch for Vednoc's abandoned dark whatsapp theme. Requires the original https://github.com/vednoc/dark-whatsapp to be installed.
@version      2025.02.06.18.40
@author       MetalTxus
@namespace    https://github.com/jesuscc1993/

==/UserStyle== */
@-moz-document domain("whatsapp.com") {
  .dark {
    --filters-container-background: var(--background-default);
    --filters-item-active-background: var(--ac-4);
    --filters-item-active-color: var(--ac-0);
    --filters-item-background-hover: var(--menu-bar-item-background-active);
    --filters-item-background: var(--search-input-background);
    --input-floating-toolbar-background: var(--menu-bar-item-background-active);
    --input-floating-toolbar-button-active: var(--background-default);
    --navbar-background: var(--search-input-background);
    --search-input-container-background-active: var(--background-default);
    --search-input-container-background: var(--background-default);
    --WDS-accent: var(--ac-0);
  }

  [data-icon="archived-outline"] {
    color: var(--icon-ack);
  }
}
